<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfCQMcl3BtU_M71aEdyYyYRGHl8jY-l_I</string>
	<key>GCM_SENDER_ID</key>
	<string>55811923121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petAdoptionApp</string>
	<key>PROJECT_ID</key>
	<string>pet-adoption-app-955c5</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-adoption-app-955c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55811923121:ios:256bc4f3ad62d30cc29690</string>
</dict>
</plist>